<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>React App</mat-card-title>
    <mat-card-subtitle>Ecommerce for Small Projects</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/Pic2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt accusantium eligendi vel eum est laborum cum modi voluptas exercitationem nostrum?
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>


<br>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Angular App</mat-card-title>
    <mat-card-subtitle>Student and Teacher System</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/Pic2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem molestias est hic illum, porro ducimus beatae temporibus sint commodi blanditiis!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>