<div class="project-card-container project1" id="project">
  <div class="col-11 project-card m-2 rounded">
    <div class="row card-row justify-content-center">
      <div class="col-sm-12 col-md-6 image-container">
        <div class="card-image rounded">
          <a href="" target="_blank" rel="noopener noreferrer">
            <img
              src="../../assets/Pic2.jpg"
          
            />
          </a>
        </div>
      </div>
      <div class="col-sm-12 project-data col-md-5">
        <div class="row project-text-row text-center">
          <div class="col-12 project-heading">
            <h4>Communications Degree</h4>
          </div>
          <div class="col-12 project-description">
            <p>
              I have a Degree in Communications of the University of BA.<br />
              Adding a Communications POV  to my Full Stack Dev projects.
            </p>
          </div>
          
      
        </div>
      </div>
    </div>
  </div>
</div>

<div class="project-card-container project2">
  <div class="col-11 project-card m-2 rounded">
    <div class="row card-row justify-content-center">
      <div class="col-sm-12 col-md-6 image-container">
        <div class="card-image rounded">
          <a href="" target="_blank" rel="noopener noreferrer">
            <img
              src="../../assets/Pic3.jpg"
    
            />
          </a>
        </div>
      </div>
      <div class="col-sm-12 project-data col-md-5">
        <div class="row project-text-row text-center">
          <div class="col-12 project-heading">
            <h4>SoftSkills</h4>
          </div>
          <div class="col-12 project-description">
            <p>
              My SoftSkills<br />
              <br />
              🌟Group Collaboration <br>
              🌟Communication <br>
              🌟Always Learning <br>
              🌟Calm and Chill <br>
              🌟Vegan <br>
              🌟Theres no planet B!
            </p>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
