<div class="project-card-container project1" id="project">
  <div class="col-11 project-card m-2 rounded">
    <div class="row card-row justify-content-center">
      <div class="col-sm-12 col-md-6 image-container">
        <div class="card-image rounded">
          <a href="" target="_blank" rel="noopener noreferrer">
            
          </a>
        </div>
      </div>
      <div class="col-sm-12 project-data col-md-5">
        <div class="row project-text-row text-center">
          <div class="col-12 project-heading">
            <h4>Ecommerce with React and JS</h4>
          </div>
          <div class="col-12 project-description">
            <p>
              Take a look of my Ecommerce made with React JS<br />
              Check it here
            </p>
          </div>
          <button mat-button> Github Link</button>
      
        </div>
      </div>
    </div>
  </div>
</div>






<div class="project-card-container project1" id="project">
  <div class="col-11 project-card m-2 rounded">
    <div class="row card-row justify-content-center">
      <div class="col-sm-12 col-md-6 image-container">
        <div class="card-image rounded">
          <a href="" target="_blank" rel="noopener noreferrer">
            
          </a>
        </div>
      </div>
      <div class="col-sm-12 project-data col-md-5">
        <div class="row project-text-row text-center">
          <div class="col-12 project-heading">
            <h4>Student and Teacher WebApp</h4>
          </div>
          <div class="col-12 project-description">
            <p>
              Look this WebApp made by Angular and Typescript<br />
              Check this proyect<br />
              This is a system for students and teacher to register in diferent courses. With a admin-system you can create or delete courses with this app.
            </p>
          
          </div>
          <button mat-button> Github Link</button>
      
        </div>
      </div>
    </div>
  </div>
</div>
