<section class="home" id="home">
  <div class="container hero">
    <div
      class="row hero-content justify-content-between">
      <div class="col-12 col-md-7 hero-text">
        <h1 class="h1">
      Tristan Lenzberg 👋
        </h1>
        <p class="">
          Full Stack Dev 📍 Based in Buenos Aires
                      </p>


                      <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title></mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/Pic1.jpg" alt="Photo ">
                        <mat-card-content>
                          <p>
                            
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button></button>
                          <button mat-button></button>
                        </mat-card-actions>
                      </mat-card>
    
        
      